* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.bg-mobile {
	display: block;
	width: 100%;
	position: absolute;

}

.bg-desktop {
	display: none;
}

.main-content {
	position: relative;
	padding: 30% 0  5% 0;
}

.first-section {
	width: 88%;
	margin: 0 auto;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px 100px 10px 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 5%;
}

.logo-img {
	padding-left: 12%;
	padding-bottom: 4%;
	padding-top: 12%;
}

.icons {
	padding-top: 4%;
	padding-left: 12%;
	padding-bottom: 12%;
	display: flex;
}

.icons a {	
	padding-right: 13%;
}

.icons a img {
	padding: 50%;
	display: block;
	margin:0 auto;
	background-color: hsl(229, 57%, 11%);
	border-radius: 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

.document-image {
	width: 130%;
	height: 43%;
	object-fit: contain;

}

.folder-image {
	width: 90%;
	object-fit: contain;
}

.upload-image {
	width: 90%;
	height: 35%;
	object-fit: contain;
}

.second-section {
	width: 88%;
	margin: 0 auto;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 20%;
	
}

.info-para {
	color: hsl(229, 7%, 55%);
	width: 88%;
	text-align: center;
	margin: 5% auto 15% auto;
	padding: 8% 0 4% 0;
	font-size: 0.9rem;
}

.shape {
	width: 75%;
	background-color: hsl(229, 57%, 11%);
	height: 12px;
	margin: 0 auto 0 10.5%;
	padding-top: 2%;
	border-radius: 50px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 33%;
	text-align: center;
}

.inner-section {
	height: 10px;
	width: 60%;
	margin: -6% auto 0 10%;
	padding-top: 1%;
	border-radius: 50px;
	border-width: 3px;
	border-style: solid;
	border-color: hsl(229, 57%, 11%);
	background: rgb(255,165,119);
	background: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom: 33.1%;
	left: 0;
	right: 14%;
	text-align: center;
}

.small-circle {
	height: 90%;
  width: 5%;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 94%;
	right: 0;
	bottom: 1%;
	text-align: center;

}

.used-span { 
	color: hsl(243, 100%, 93%);
	font-weight: 700;
}

.size {
	text-align: center;
	padding-bottom: 12%;
	color: hsl(243, 100%, 93%);
	font-size: 0.7rem;
}

.initial-size-span {
	margin-right: 48%;
	margin-left: 10%;
}

.full-size-span {	
	padding-right: 15%;
}

.bottom-box {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 20px 32px rgba(0,0,0,0.11);
	position: absolute;
	right: 25%;
  height: 10%;
  bottom: 15%;
}

.size-left {
	text-align: center;
	padding-top: 5%;
	font-size: 0.8rem;
	font-weight: 700;
}

.giga-left {
	font-size: 2.4rem;
	padding-right: 5%;
}

.rest-of-text {
 color: hsl(229, 7%, 55%);
 text-transform: uppercase;
}

@media only screen and (min-width: 768px) {

	body {
		background-color: hsl(229, 57%, 11%);
		background-image: url(images/bg-desktop.png);
		background-repeat: no-repeat;
		background-position:  bottom ;
		background-size: 100% 50%;
		background-attachment: fixed;
	}

	.bg-mobile {
		display: none;
	}

	.main-content {
		position: relative;

	}

	.flex-container {
		display: flex;
		flex-direction: row;
		width: 90%;
		margin: 0 auto;

	}

	.first-section {
		width: 30%;
		margin: 0 auto 20% auto;
		
	}

	.icons {

	}

	.icons a  {
		padding-right: 16%;
	}

	.second-section {
		width: 60%;
		text-align: left;
		
	}

	.info-para {
		text-align: left;
		margin-top: -10%;
		padding-top: 20%;
	}

	.shape {
		width: 45%;
		background-color: hsl(229, 57%, 11%);
		height: 12px;
		margin: 0 auto 0 10.5%;
		padding-top: 1%;
		border-radius: 50px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 32%;
		right: 0;
		bottom: 48%;
		text-align: center;
	}

	.inner-section {
		height: 10px;
		width: 36%;
		margin: -6% auto 0 10%;
		padding-top: 0.5%;
		border-radius: 50px;
		border-width: 3px;
		border-style: solid;
		border-color: hsl(229, 57%, 11%);
		background: rgb(255,165,119);
		background: linear-gradient(90deg, hsl(6, 100%, 80%) 0%, hsl(335, 100%, 65%) 100%);
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		bottom: 48%;
		left: 24%;
		right: 0;
		text-align: center;
	}

	.bottom-box {
		text-align: center;
		width: 20%;
		margin: 0 auto;
		background-color: white;
		border-radius: 10px;
		box-shadow: 0 20px 32px rgba(0,0,0,0.11);
		height: 10%;
		position: absolute;
		right: 0;
	  left: 60%;
	  bottom: 0;
	  top: 30%;
  }

  .small-triangle {
	 	width: 0;
    height: 0;
    border-top: 35px solid white;
    border-left: 35px solid transparent;
    position: absolute;
    right: 0%;
    top: 88%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .size {
  	margin-bottom: -5%;
  }

}

.attribution { 
	padding-top: 5%;
	color: hsl(243, 100%, 93%);
	font-size: 11px; text-align: center;
	font-weight: 700; 
}

.attribution a { 
	color: hsl(229, 7%, 55%); 
	font-weight: 700;
}