* {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.bg-mobile {
	display: block;
	object-fit: cover;
	position: absolute;
	width: 100%;
}

.bg-desktop {
	display: none;
}

.main-content {
	position: relative;
	padding: 30% 0;
}

.first-section {
	width: 88%;
	margin: 0 auto;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px 100px 10px 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 5%;
}

.logo-img {
	padding-left: 12%;
	padding-bottom: 4%;
	padding-top: 12%;
}

.icons {
	padding-top: 4%;
	padding-left: 12%;
	padding-bottom: 12%;
	display: flex;

}

.icons a {	
	padding-right: 13%;
}

.icons a img {
	padding: 50%;
	display: block;
	margin:0 auto;
	background-color: hsl(229, 57%, 11%);
	border-radius: 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
}

.document-image {
	width: 130%;
	height: 43%;
	object-fit: contain;

}

.folder-image {
	width: 90%;
	object-fit: contain;
}

.upload-image {
	width: 90%;
	height: 35%;
	object-fit: contain;
}

.second-section {
	width: 88%;
	margin: 0 auto;
	background-color: hsl(228, 56%, 26%);
	border-radius: 10px;
	box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 20%;
}


.attribution { 
	font-size: 11px; text-align: center; 
}

.attribution a { 
	color: hsl(228, 45%, 44%); 
}